<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav th:replace="template.html :: menu"></nav>
    <div class="container" style="display: flex; justify-content: center; align-items: center;">
        <form action="#" th:action="@{/people/save}" th:object = "${person}" method="POST" enctype="multipart/form-data">
            <input type="hidden" placeholder="id" th:field="*{id}"/><br><br>
            <input type="hidden" placeholder="photoName" th:field="*{photoName}"/><br><br>
            <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;">Name Error</p>
            <div class="form-group row">
                <div class="col-sm-4">
                    <input type="text" th:field = "*{name}" placeholder="Name"> <br> <br>
                </div>
            </div>
            <p class="text-danger" th:if="${#fields.hasErrors('job')}" th:errors="*{job}" style="color: red;" >Job Error</p>
            <label for="job">Select job: </label>
            <select th:field = "*{job}" id="job">
                <option value="Dev">Developer</option>
                <option value="Singer">Singer</option>
                <option value="Footballer">Footballer</option>
                <option value="Student">Student</option>
            </select> <br> <br>       
            <label for="isFemale">Female</label>
            <input type="radio" th:field = "*{gender}" value="true" id="isFemale">
            <label for="isFemale">Male</label>
            <input type="radio" th:field = "*{gender}" value="false" id="isFemale"> <br> <br>
            <p class="text-danger" th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}" style="color: red;">Birthday Error</p>
            <input type="date" th:field = "*{birthDay}"> <br> <br>
            <p class="text-danger" th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}" style="color: red;">Photo Error</p>
            <input type="file" th:field = "*{photo}"> <br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>