<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <form action="#" th:action="@{/people/save}" th:object = "${person}" method="POST" novalidate="novalidate">
        <input type="hidden" placeholder="id" th:field="*{id}"/><br><br>
        <input type="text" th:field = "*{name}" placeholder="Name"> <br> <br>
        <label for="job">Select job: </label>
        <select th:field = "*{job}" id="job">
            <option value="Dev">Developer</option>
            <option value="Singer">Singer</option>
            <option value="Footballer">Footballer</option>
            <option value="Student">Student</option>
        </select> <br> <br>
        <label for="isFemale">Female</label>
        <input type="radio" th:field = "*{gender}" value="true" id="isFemale">
        <label for="isFemale">Male</label>
        <input type="radio" th:field = "*{gender}" value="false" id="isFemale"> <br> <br>
        <input type="date" th:field = "*{birthDay}"> <br> <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>