<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People</title>
</head>
<body>
    <form method="POST" th:object = "${search}">
        <input type="text" th:field = "*{keyWord}" placeholder="S e a r ch . . .">
        <button type="submit"> Search </button>
    </form>
    <ul>
        <li th:each = "person : ${people}">
            <a th:href="@{/people/{id}(id=${person.id})}">
                <img th:src="@{${'/photos/' + person.photoName}}" width="120">
            </a>
            <a th:href="@{/people/{id}(id=${person.id})}" th:text = "${person.id} + ' : ' + ${person.name}"></a>
        </li>
    </ul>
    <h3><a th:href="@{/people/add}">Add Person</a></h3>
</body>
</html>