<!DOCTYPE html>
<html lang="en">
<head th:replace="template.html :: header('Update')">
</head>
<body>
    <nav th:replace="template.html :: nav_main(${itemNumber})"></nav>
    <h1 style="text-align: center;">User</h1>
    <div class="container">
        <form class="row g-3" th:object="${user}" method="POST" enctype="multipart/form-data">
            <input type="hidden" th:field=*{id}>
            <input type="hidden" th:field=*{account.password}>
            <input type="hidden" th:field=*{account.username}>
            <div class="col-md-6">
                <div class="d-flex justify-content-between">
                    <label for="inputEmail4" class="form-label">User name</label>
                </div>
                <p class="form-control" id="inputEmail4" th:text="*{account.username}"></p>
            </div>

            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <label for="inputAddress" class="form-label">Name</label>
                    <span th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></span>
                </div>
                <input type="text" class="form-control" id="inputAddress" th:field="*{name}">
            </div>

            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <label for="inputAddress" class="form-label">Email</label>
                    <span th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></span>
                </div>
                <input type="email" class="form-control" id="inputAddress" th:field="*{email}">
            </div>

            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <label for="inputAddress" class="form-label">Phone</label>
                    <span th:if="${#fields.hasErrors('phone')}" th:errorclass="error" th:errors="*{phone}"></span>
                </div>
                <input type="text" class="form-control" id="inputAddress" th:field="*{phone}">
            </div>

            <div class="col-md-6">
                <div class="d-flex justify-content-between">
                    <label for="inputCity" class="form-label">City</label>
                    <span th:if="${#fields.hasErrors('address.city')}" th:errorclass="error"
                        th:errors="*{address.city}"></span>
                </div>
                <input type="text" class="form-control" id="inputCity" th:field="*{address.city}">
            </div>

            <div class="col-md-4">
                <div class="d-flex justify-content-between">
                    <label for="inputState" class="form-label">State</label>
                    <span th:if="${#fields.hasErrors('address.state')}" th:errorclass="error"
                        th:errors="*{address.state}"></span>
                </div>
                <select id="inputState" class="form-select" th:field="*{address.state}">
                    <option selected value="">Choose...</option>
                    <option value="Ha noi">Ha noi</option>
                    <option value="Tp HCM">Tp.HCM</option>
                    <option value="Da nang">Da nang</option>
                </select>
            </div>

            <div class="col-md-2">

                <div class="d-flex justify-content-between">
                    <label for="inputZip" class="form-label">Zip</label>
                    <span th:if="${#fields.hasErrors('address.zip')}" th:errorclass="error"
                        th:errors="*{address.zip}"></span>
                </div>
                <input type="text" class="form-control" id="inputZip" th:field="*{address.zip}">
            </div>

            <div class="mb-3">

                <div class="d-flex justify-content-between">
                    <label for="formFile" class="form-label">Photo</label>
                    <span th:if="${#fields.hasErrors('photo')}" th:errorclass="error" th:errors="*{photo}"></span>
                </div>
                <input class="form-control" type="file" id="formFile" th:field="*{photo}">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Apply</button>
            </div>
        </form>
    </div>
</body>
</html>